.select-number-page{
  .page-content{
    //padding: 16px;
  }
}
.modal-select-number-page{
  .d-fl{
    display: flex;
    justify-content: space-between;
    .ant-form-item{margin-right: 0}
    .textarea-box{
      width: 360px;
      & > p{
        color: #999;
        line-height: 1.1;
        font-size: 12px;
        margin-top: 4px;
      }
    }
  }
  .ant-modal-body{
    padding-top: 18px;
    padding-bottom: 0;
  }
  footer{
    .ant-form-item{
      margin-right: 0;
    }
    text-align: right;
  }
}
